<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="2" parallel="tests">
    <test name="ReqRes Api">
        <groups>
            <run>
                <include name = "smoke"/>
            </run>
        </groups>
        <classes>
            <class name="api.test.DataDrivenTest"/>
        </classes>

    </test>
</suite>